.budget-view-main {
  background: rgba(14, 39, 101, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  .budget-view-body {
  }
}

.budget-view {
  a {
    text-decoration: none;
    color: $main-white;
    background: #1f79a3;
    padding: 6px 10px;
    border-radius: 10px;
    width: 140px;
  }
}
