.page-not-found {
  .page-not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 60px);
    img {
      width: 350px;
    }
    p {
      color: #fff;
      font-size: 16px;
      margin-top: 15px;
      font-weight: 800;
      text-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 1);
      margin-bottom: 15px;
    }
    a {
      background: linear-gradient(45deg, #5786ff, #0047ff);
      border-radius: 30px;
      border: 0;
      padding: 10px 20px;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
