.main-header {
  padding: 10px 20px;
}
.home-main-wrapper {
  .hero-con {
    width: 80%;
    margin: auto;
    p {
      color: $text-color;
    }
    .review_span {
      color: $text-color;
    }
    img{
      filter: $filter;
    }

    .left {
      .verified_span{
        color: #4ca72c;
        font-size: 13px;
        display: flex;
        align-items: center;
        margin-left: 8px;
        img{
          width: 14px;
          margin-right: 4px;
        }
      }
      .rating-span {
        background: #4ca72c;
      }
      .address-con {
        img {
          height: 30px;
          margin-top: 5px;
          margin-right: 20px;
        }
      }
    }
    .right {
      max-width: 50%;
      overflow-x: auto;
      img {
        margin-right: 20px;
      }
    }

    .hero-bottom {
      .review-card {
        margin-right: 10px;
        width: 100%;
        .user-img {
          width: 35px;
          margin-right: 10px;
        }
      }
    }
  }

  .client-con {
    width: 80%;
    margin: auto;
    p{
      color: $text-color;
    }
    .client-card-con {
      .client-card {
        display: grid;
        place-items: center;
        box-shadow: 0px 2px 2px #ddd;
        border-radius: 5px;
        margin-right: 10px;
        width: 20%;
        img {
          width: 100px;
        }
      }
    }
  }
  .services-con {
    width: 80%;
    margin: auto;
    p{
      color: $text-color;
    }
    .services-card {
      display: grid;
      place-items: center;
      box-shadow: 0px 2px 2px #ddd;
      border-radius: 5px;
      margin-right: 10px;
      padding: 10px;
      img {
        width: 50%;
      }
    }
  }
  .sold-con {
    width: 80%;
    margin: auto;
    p{
      color: $text-color;
    }
    h2 {
      color: #57457c;
      font-weight: bold;
    }
    .sold-card-con {
      .sold-card {
        box-shadow: 0px 2px 2px #ddd;
        border-radius: 5px;
        margin-right: 10px;
        position: relative;
        width: 30%;
        overflow: hidden;
        margin: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          box-shadow: 0px 0px 5px #c1aeae;
        }
        .content-side {
          padding: 10px;
          .common_span{
            color: $text-color;
          }
          .rating-div {
            margin: 10px 0px;
            span {
              &:first-child {
                display: flex;
                align-items: center;
                justify-content: start;
                background: #4ca72c;
                padding: 0px 5px;
                color: #fff;
                border-radius: 4px;
                img {
                  width: 16px;
                  filter: invert(1);
                  margin-right: 6px;
                }
              }
              &:last-child {
                color: #8b8995;
                margin-left: 10px;
              }
            }
          }
        }
        .warranty-div {
          top: 0;
          right: 0;
          background: #fff1c5;
          border-radius: 4px;
          padding: 0px 2px;
        }
        .tyre-img {
          bottom: -20px;
          right: -47px;
          width: 45%;
        }
        // .image-side {
        //   img {
        //     width: 50px;
        //   }
        // }
      }
    }
  }
}
