.main-header {
  // background: #6c7a87;
  box-shadow: 0px 0px 2px $shadow;
  span {
    color: $text-color;
  }
  // .header-top {
  .custom-header-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;
      img {
        width: 100px;
      }
    }
    .search-con {
      margin-left: 40px;
      position: relative;
      input {
        padding: 5px 15px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid $border-color;
        outline: none;
        @include for-mobile {
          width: 230px;
        }
      }
      img {
        position: absolute;
        width: 30px;
        right: 0px;
        top: 4px;
      }
    }
    .middle {
      width: 80%;
      a {
        color: $text-color;
      }
    }
    .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 35%;
      @include for-pc {
        width: 40%;
      }
      @include for-mobile {
        width: 44%;
      }

      img {
        width: 30px;
      }
      .user-details {
        span {
          display: block;
          font-size: 14px;
        }
      }
      .toggle-con {
        cursor: pointer;
        width: 100px;
        height: 35px;
        box-shadow: 0px 0px 5px $toggle;
        border-radius: 25px;
        .toggle-ball {
          width: 30px;
          height: 30px;
          background-image: linear-gradient(45deg, #5866ad, transparent);
          border-radius: 50%;
          margin-top: 2px;
          transition: all 0.3s;
        }
      }
    }
  }
  // .header-bottom {
  //   a {
  //     text-decoration: none;
  //     color: $text-color;
  //     margin-right: 10px;
  //     &.active {
  //       span {
  //         border-bottom: 3px solid rgb(17, 36, 43);
  //       }
  //     }
  //     img {
  //       width: 25px;
  //       filter: $filter;
  //     }
  //     span {
  //       font-size: 18px;
  //     }
  //   }
  // }
}
