.sidebar-container {
  border-radius: 30px 0px 0px 30px;
  width: 15%;
  margin-right: 10px;
  margin-right: 5px;
  .user-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    img {
      width: 50px;
      margin-bottom: 10px;
    }
    span {
      font-size: 13px;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 120px;
      display: inline-block;
      text-align: center;
    }
  }
  a {
    text-decoration: none;
    margin-right: 5px;
    &.active {
      div {
        background-color: rgb(0 70 188 / 21%);
        border-radius: 5px;
        span {
          color: #fff;
        }
        img {
          // filter: brightness(1) invert(0);
        }
      }
    }

    &.active {
      div {
        background-color: rgb(0 0 0 / 15%);
        border-radius: 5px;
        span {
          color: #fff;
        }
        img {
          // filter: brightness(1) invert(0);
        }
      }
    }
  }
  .project-con {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;

    img {
      width: 35px;
      margin-right: 10px;
      width: 40px;
      // margin-right: 10px;
      margin-bottom: 10px;
      filter: brightness(0) invert(1);

      &.first-child {
        width: 32px;
      }
    }
    span {
      font-size: 12px;
      color: #fff;
      text-align: center;
    }
  }
}
