.bb-main-con {
  // height: calc(100vh - 100px);
  background: rgba(14, 39, 101, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  .form-div {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    .field-con {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: start;
      margin: 5px;
      width: 32%;
      color: $main-white;
      select {
        width: 100%;
        // background-image: linear-gradient(45deg, #e4dbe9, #e3d4ff4f);

        border-radius: 5px;
        font-size: 14px;
        // color: #20094a;
        outline: none;
        // border: 1px solid #fff;
        border: none;
        background: linear-gradient(45deg, #00000042, #00000029);
        padding: 10px;
        width: 100%;
        color: $main-white;
        height: auto;
        line-height: unset;
        font-family: "Facto";
        margin-top: 8px;
        option {
          color: $text-color;
          // &:hover {
          //   background: red !important;
          // }
        }
      }
      input {
        border-radius: 5px;
        font-size: 14px;
        outline: none;
        border: none;
        background: linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.2588235294),
          rgba(0, 0, 0, 0.1607843137)
        );
        padding: 10px;
        width: 100%;
        color: white;
        height: auto;
        line-height: unset;
        font-family: "Facto";
        margin-top: 8px;
        &::placeholder {
          color: $main-white;
          opacity: 0.8;
        }
      }
      .field-error {
        border: 1px solid rgb(228, 26, 26);
      }
    }

    .child-con {
      width: 98%;
      border: 1px solid #d1d0d0;
      border-radius: 10px;
      margin: 20px 0px;
      padding-bottom: 10px;
      .child-body {
        width: 100%;
        padding: 10px;
        .total-budget {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
          span {
            color: $main-white;
            margin-right: 10px;
          }
        }

        .row-data {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 10px;
          .select-filed {
            // align-items: center;
            // justify-content: center;
            display: flex;
            flex-direction: column;
            width: 12%;
            color: $main-white;
          }
          label {
            margin-bottom: 8px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100px;
          }
          input {
            width: 95%;
            padding: 5px;
            border-radius: 3px;
            border: none;
            outline: none;
          }
          .btn-delete {
            display: grid;
            place-items: end;
            img {
              width: 30px;
              filter: drop-shadow(2px 4px 6px rgb(48, 46, 46));
              cursor: pointer;
            }
          }
        }

        .custom-table {
          width: 100%;
          thead {
            th {
              color: $main-white;
              white-space: nowrap;
              padding: 8px;
            }
          }
          tbody {
            td {
              width: 13%;
            }
            td {
              padding-right: 5px;
            }
            .total-row-cal {
              input {
                border: 1px solid $main-white;
                background: #dddce3;
                color: $text-color;
                font-weight: bold;
              }
            }
            .total-month-tr {
              background: #dddce3;
              td {
                padding: 6px;
              }
            }
          }
          .header-th {
            text-align: center;
            color: $main-white;
            font-size: 22px;
            padding-bottom: 20px;
            span {
              color: $main-white;
              margin-left: 6px;
              padding: 0px 10px;
            }
          }
          .delete-row {
            img {
              cursor: pointer;
              filter: drop-shadow(2px 4px 6px rgb(51, 36, 36));
            }
            .delete-icon-disable {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
          select,
          input {
            width: 100%;
            border-radius: 5px;
            font-size: 14px;
            outline: none;
            border: none;
            background: linear-gradient(45deg, #cec8c842, #ebdddd29);
            padding: 10px;
            color: $main-white;
            height: auto;
            line-height: unset;
            font-family: "Facto";
            margin-top: 8px;
            option {
              color: $text-color;
            }
          }
        }
      }
      .total-row-calc {
        display: flex;
        span {
          text-align: center;
          width: 11.94%;
          display: block;
          background: #ddd;
          padding: 5px;
        }
      }
      .btn-grp {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        button {
          background-image: linear-gradient(45deg, #3e0606, #093a56);
          color: $main-white;
          box-shadow: 0px 3px 5px #a17d7d;
          border: none;
          padding: 10px 10px;
          border-radius: 5px;
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }
  }
  .btn-submit-con {
    text-align: center;
    .btn-submit {
      border: 1px solid $main-white;
      padding: 10px;
      border-radius: 30px;
      width: 150px;
      color: $main-white;
      font-weight: bold;
      background: transparent;
    }
  }
}
// .react-modal-user-enter-data {
//   width: 400px;
//   padding: 10px;
//   display: grid;
//   place-items: center;
//   p {
//     color: #020202;
//     font-weight: bold;
//     margin-bottom: 20px;
//     font-size: 18px;
//   }
//   input {
//     border: none;
//     padding: 10px;
//     border-radius: 5px;
//     font-size: 15px;
//     letter-spacing: 1px;
//   }
//   .btn-grp {
//     margin-top: 10px;
//     text-align: center;
//     button {
//       cursor: pointer;
//       background: #405aa4;
//       border: none;
//       padding: 10px;
//       border-radius: 5px;
//       color: #fff;
//       margin-right: 10px;
//       &.btn-cancel {
//         background: #dd3232;
//       }
//     }
//   }
// }

/*==============react-modal==================*/

.logout-confirmation-modal-container,
.modal-container {
  background-color: #fff;
  width: 500px;
  max-width: 100%;
  height: 200px;
  border: 1px soli transparent;
  -webkit-animation: fade_popup 0.25s linear;
  .logout-mark,
  .info-icon {
    max-width: 80px;
    margin: 0 auto 20px;
  }
  .confirmation-text,
  .main-text {
    font-size: 15px;
    text-align: center;
    font-family: "facto-bold", sans-serif;
  }
  .action-buttons {
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 45%;

    button {
      border: none;
      border-radius: 5px;
      padding: 8px 25px;
      cursor: pointer;
      font-size: 14px;
      margin: 10px;
    }

    .btn-cancel {
      background-color: #ff2a2a;
      color: white;
    }

    .btn-okay {
      background-color: #27b700;
      color: white;
    }
  }
}
.header-modal {
  background-color: #3e66b0;
  height: 40px;
  span {
     color: #fff;
     font-size: 13px;
     margin: 10px;
     float: left;
  }
}
.modal-body {
  display: grid;
  place-items: center;
  padding: 20px;
  height: 80%;
  color: #344767;
}