* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin for-pc {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-mobile {
  @media (max-width: 700px) {
    @content;
  }
}
@import "../scss/dark-theme-files.scss";
@import "../scss/light-theme-files.scss";
// @function rem($pixels, $context: $baseFontSize) {
//   @if (unitless($pixels)) {
//     $pixels: $pixels * 1px;
//   }
//   @if (unitless($context)) {
//     $context: $context * 1px;
//   }
//   @return $pixels / $context * 1rem;
// }
body {
  font-family: "Facto", sans-serif;
  letter-spacing: 0.5px;
  background: linear-gradient(
    315deg,
    #7661b6,
    #f4bf8e 20.83%,
    #405cad 52.6%,
    #6cb8ff 76.56%,
    #2d539d
  );

  &.dark-theme {
    background-color: #080f25;
  }
}
h1,
h2,
h3,
h4,
h5 {
  color: $text-color;
}
span {
  color: $text-color;
}

.main-body {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  min-height: calc(100vh - 130px);
}
.body-wrapper {
  padding: 20px;
  border-radius: 0px 30px 30px 0px;
  background: hsla(0, 0%, 100%, 0.22);
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  width: calc(100% - 130px);
  position: relative;
  border-radius: 30px;
  box-shadow: -30px -10px 40px rgba(0, 0, 0, 0.12);
}
.authentication-container {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  .authenticate-loader {
    display: flex;
    align-items: center;
    .loader-img {
      width: 20px;
      filter: invert(1);
      img {
        animation: loaderRotate 2s infinite linear;
      }
    }
    span {
      color: #fff;
      font-size: r;
      font-weight: 600;
      display: block;
      margin-left: 5px;
    }
  }
}





//scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a6d4f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5382da;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2389b7;
}
