* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin for-pc {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-mobile {
  @media (max-width: 700px) {
    @content;
  }
}
@import "../scss/dark-theme-files.scss";
@import "../scss/light-theme-files.scss";

body {
  font-family: "Facto", sans-serif;
  letter-spacing: 0.5px;
  background-color: #eee;

  &.dark-theme {
    background-color: #080f25;
  }
}
h1,
h2,
h3,
h4,
h5 {
  color: $text-color;
}
span {
  color: $text-color;
}
